body
{
	background-color: #f1f1f1;
}

.quality_1
{
	color: #777;
}

.quality_2
{
	color:#1eff00;
}

.quality_3
{
	color:#0081ff;
}

.quality_4
{
	color:#c600ff
}

.itemid
{
	font-weight: bold;
}

.owner
{
	color: #ffb100;
	font:normal 12px;
}

.icon
{
	border: 1px solid #434445;
	width: 36px;
	height: 36px;
	display: block;
	float: left;
	margin-right:10px;
}

.big_icon
{
	border: 1px solid #434445;
	width: 56px;
	height: 56px;
	display: block;
	float: left;
	margin-right:10px;
}

.cardstyle
{
	background-color: #fff;
	padding: 50px 5%;
	width: 85%;
	margin: 50px auto;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #d5d5d5;
	overflow: hidden;

}

.pagenumber
{
	color:#d84c31;
	font-weight: bold;
	line-height: 30px;
}

.gold
{
	display: inline-block;
	color: #c28a13;
	width:  100px;
	padding-right: 15px;
	padding-left: 3px;
	background: url("https://www.battlenet.com.cn/wow/static/images/icons/gold.gif") right center no-repeat;
}

.silver
{
	display: inline-block;
	color: #63625d;
	width:  40px;
	padding-right: 15px;
	padding-left: 3px;
	background: url("https://www.battlenet.com.cn/wow/static/images/icons/silver.gif") right center no-repeat;
}

.copper
{
	display: inline-block;
	color: #a04d00;
	width:  40px;
	padding-right: 15px;
	padding-left: 3px;
	background: url("https://www.battlenet.com.cn/wow/static/images/icons/copper.gif") right center no-repeat;
}

#formbox div
{
	margin-right: 10px;
}

.table tbody tr th{
	text-align: center;
}

.table tbody tr td p{
	margin: 0;
}

.title
{
	font-size: 20px;
}

#Chart
{
	width:100%;
	height: 500px;
}

.breadcrumb
{
	background-color: #fff;
	margin: 0;
}

#login
{
	width: 30%;
}

.nav
{
	background-color: #fff;
	width: 100%;
}

.subnav
{
	width: 85%;
	margin: 0 auto;
}

.btns
{
	color: #428bca;
	padding: 8px 15px;
}

.alertMsg
{
	color: red;
}

.color-c1 { color: #c69b6d !important; } /* warrior */
.color-c2 { color: #f48cba !important; } /* paladin */
.color-c3 { color: #aad372 !important; } /* hunter */
.color-c4 { color: #fff468 !important; } /* rogue */
.color-c5 { color: #f0ebe0 !important; } /* priest */
.color-c6 { color: #c41e3b !important; } /* death knight */
.color-c7 { color: #2359ff !important; } /* shaman */
.color-c8 { color: #68ccef !important; } /* mage */
.color-c9 { color: #9382c9 !important; } /* warlock */
.color-c10 { color: #00ffba !important; } /* monk */
.color-c11 { color: #ff7c0a !important; } /* druid */

.bigowner
{
	font-family: 微软雅黑, Microsoft YaHei, Helvetica, Tahoma, StSun, 宋体, SimSun, sans-serif !important;
	font-size: 30px;
	font-weight: bold;
	line-height: 1.1em;
	color:#555;
}

.alert
{
	color:red;
}

#header
{
	padding: 0;
}

#header img
{
	height: 290px;
	width: 100%;
	display: block;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #d5d5d5;
}
